body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  background-color: rgba(34, 34, 34, 0.8);
  color: white;
  text-align: center;
  padding: 20px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

.header-content {
  margin-top: 20px;
  text-align: center;
}

nav {
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 20px;
}

nav a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

/* Sidebar Styles */
.sidebar {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 80%);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.text-overlay {
  margin-top: 30px;
}

/* Main Content Styles */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 20px;
}

.hero-container,
.grid-item {
  width: 100%;
}

.hero-image img,
.image-container img {
  width: 100%;
  height: auto;
}

/* Footer Styles */
footer {
  background-color: rgba(34, 34, 34, 0.8);
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Media query for larger screens */
@media screen and (min-width: 600px) {
  header {
    padding: 30px;
  }

  nav {
    text-align: right;
  }

  nav a {
    margin-right: 0;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .sidebar {
    width: 200px;
  }

  .grid-item {
    width: calc(100% - 220px);
    margin-left: 20px;
  }
}
