body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color:#184D47;


            color: white;
            padding: 20px;
            text-align: center;
        }

        .avatar {
            width: 100px; 
            border-radius: 50%;
        }

        .header-content {
            margin-top: 20px;
        }

        nav {
            margin-top: 20px;
        }

        nav a {
            margin-right: 20px;
            color: white;
            text-decoration: none;
        }

        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
        }

        .work-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .work-item {
            width: 50%;
            margin-bottom: 20px;
            text-align: center;
            text-decoration: none;
            color: black;
            border: 2px solid light blue;
        }

        .larger {
            width: 100%; /* Make the first image take up the whole row */
        }

        .work-item img {
            width:200px;
            hight:200px;        
            display: block;
            border color:#096b35;
            
        }

        aside {
            flex: 1;
            padding: 20px;
            position: relative;
            text-align:centre;
            background-color: #1474c4;
            color: white;
            width:100%;
        }

        footer {
            background-color: #184D47;
            color: white;
            text-align: center;
            padding: 10px;
            position: relative
            bottom: 0;
            width:100%;
        }
